<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Geologia</Name><AddInID>{0549595e-35f5-4439-a316-fc91f155861d}</AddInID><Description>Indices Geol&#243;gicos, la herramienta sirve para calcular la elongacion de las cuencas y el gradiente de una cuenca.</Description><Version>0.1</Version><Image>Images\logo_utpl.png</Image><Author>Ing. Santiago Qui&#241;ones, Ing. Mar&#237;a Fernanda Guarderas, Nelson Aranda</Author><Company>UTPL</Company><Date>09/03/2018</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="geologia_addin.py" namespace="geologia_addin"><ArcMap>
    <Commands>
        <Button caption="Calcular Elongaci&#243;n" category="Geologia" class="IndiceElongacion" id="geologia_addin.btnCalcularElongacion" image="Images\logo_cuenca.png" message="Pemite calcular la elongaci&#243;n de cuencas." tip="Calcular Elongaci&#243;n"><Help heading="Calcular Elongaci&#243;n">Calcular Elongaci&#243;n</Help></Button>
        <Button caption="Calcular Gradiente" category="Geologia" class="IndiceGradiente" id="geologia_addin.btnGradiente" image="Images\logo_gradient.png" message="Permite calcular el gradiente de una cuenca." tip="Calcular Gradiente"><Help heading="Calcular Gradiente">Calcular Gradiente</Help></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="MiToolbar" category="Geologia" id="geologia_addin.toolbar" showInitially="false"><Items><Button refID="geologia_addin.btnCalcularElongacion" /><Button refID="geologia_addin.btnGradiente" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>